/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-image-slider {
  .slider-preview {
	display:flex;
	flex-wrap: wrap;
	gap:10px;
	img {
	  width: 100px;
	  height: 100px;
	  object-fit: cover;
	}
  }
}
